@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

body {
    font-family: 'VCR_OSD_MONO', monospace;
    text-align: center;
}